<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Pet store</title>

  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>

</head>


<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Pet shop</a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/pet">Pets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Customers</a>
    </li>
  </ul>
</nav>

<main role="main" class="container">

  <h2>Available pets</h2>

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Available</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="pet : ${pets}">
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.type.type}"></td>
        <td th:text="${pet.price}"></td>
        <td th:text="${pet.number}"></td>
      </tr>
    </tbody>
  </table>


</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>